@font-face {
  font-family: "title";
  font-style: normal;
  src: url("~@/assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "subtitle";
  font-style: normal;
  src: url("~@/assets/fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "text";
  font-style: normal;
  src: url("~@/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "subtext";
  font-style: normal;
  src: url("~@/assets/fonts/OpenSans-Light.ttf");
}