// -----------------------
// ------- COLORS --------
// -----------------------

$primary: #941B0C;
$secondary: #F6AA1C;
$terciary: #220901;

// #62170B
// #BC3908

$gray: #f0f0f0;
$white: #fff;
$black:  #242424;

// -----------------------
// ------- SPACING -------
// -----------------------

$margin-bottom: 30px;